@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    The College of Management<br />
    Rishon Le'zion<br />
    <abbr title="Phone">P:</abbr>
    0525322745
</address>

<address>
    <strong>Support:</strong> <a href="mailto:benseniord@gmail.com">benseniord@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ya.yuvalamir@gmail.com">ya.yuvalamir@gmail.com</a>
</address>
