@model IEnumerable<MusicStore.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("user"))
{
    <div id="MyPurchases">
        @Html.Partial("MyPurchases", Model)
    </div>
}
@if (User.IsInRole("admin"))
{
    <div id="ManagePurchases">
        @Html.Partial("ManagePurchases", Model)
    </div>
}
