@model IEnumerable<MusicStore.Models.Purchase>

<h2>My Purchases</h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Album
            </th>
            <th>
                Artist
            </th>
            <th>
                Date
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(p => p.Date)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <img class="albumImage" src="/AlbumImages/@Html.DisplayFor(modelItem => item.Album.Picture) " />
            </td>
        </tr>
}
    </tbody>
</table>
