@model MusicStore.Models.Album

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Album</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ArtistID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ArtistID" class="form-control" asp-items="ViewBag.ArtistID"></select>
                <span asp-validation-for="ArtistID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GenreID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="GenreID" class="form-control" asp-items="ViewBag.GenreID"></select>
                <span asp-validation-for="GenreID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Picture" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
