@model IEnumerable<MusicStore.Models.Album>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="dynamicContent">
    @Html.Partial("AlbumsList", Model)
</div>
